go/lib/soap/unilogin/wsiinst-v6/wsdl/wsiinst-ws.xsd

<?xml version='1.0' encoding='UTF-8'?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:uni="https://brugerdatabasen.stil.dk/bpi/common/3" xmlns:tns="https://brugerdatabasen.stil.dk/bpi/wsiinst/6" elementFormDefault="qualified" targetNamespace="https://brugerdatabasen.stil.dk/bpi/wsiinst/6" version="1.0">

    <xs:import namespace="https://brugerdatabasen.stil.dk/bpi/common/3" schemaLocation="common/common.xsd"/>

    <xs:element name="hentGrupper" type="tns:HentGrupper"/>
    <xs:element name="hentGrupperResponse" type="tns:HentGrupperResponse"/>

    <xs:element name="hentBrugereIGruppe" type="tns:HentBrugereIGruppe"/>
    <xs:element name="hentBrugereIGruppeResponse" type="tns:HentBrugereIGruppeResponse"/>
    <xs:element name="hentInstitution" type="tns:HentInstitution"/>
    <xs:element name="hentInstitutionResponse" type="tns:HentInstitutionResponse"/>

    <xs:element name="hentInstitutioner" type="tns:HentInstitutioner"/>
    <xs:element name="hentInstitutionerResponse" type="tns:HentInstitutionerResponse"/>

    <xs:element name="hentInstBruger" type="tns:HentInstBruger"/>
    <xs:element name="hentInstBrugerResponse" type="tns:HentInstBrugerResponse"/>

    <xs:element name="hentInstitutionshierarki" type="tns:HentInstitutionshierarki"/>
    <xs:element name="hentInstitutionshierarkiResponse" type="tns:HentInstitutionshierarkiResponse"/>

    <!-- Argument types -->

    <xs:complexType name="Brugertilknytning">
        <xs:sequence>
            <xs:element name="instnr" type="xs:string"/>
            <xs:element name="brugerid" type="xs:string"/>
            <xs:element name="navn" type="xs:string"/>
            <xs:choice>
                <xs:element name="elev" type="tns:BrugertilknytningElev"/>
                <xs:element name="ansat" type="tns:BrugertilknytningAnsat"/>
                <xs:element name="ekstern" type="tns:BrugertilknytningEkstern"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BrugertilknytningElev">
        <xs:sequence>
            <xs:element name="rolle" type="uni:Elevrolle"/>
            <xs:element name="hovedgruppeid" type="xs:string"/>
            <xs:element name="hovedgruppenavn" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BrugertilknytningAnsat">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="rolle" type="uni:Ansatrolle"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BrugertilknytningEkstern">
        <xs:sequence>
            <xs:element name="rolle" type="uni:Eksternrolle"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="Institution">
        <xs:sequence>
            <xs:element name="instnr" type="xs:string"/>
            <xs:element minOccurs="0" name="instnavn" type="xs:string"/>
            <xs:element minOccurs="0" name="type" type="xs:string"/>
            <xs:element minOccurs="0" name="typenavn" type="xs:string"/>
            <xs:element minOccurs="0" name="type3" type="xs:string"/>
            <xs:element minOccurs="0" name="type3navn" type="xs:string"/>
            <xs:element minOccurs="0" name="adresse" type="xs:string"/>
            <xs:element minOccurs="0" name="bynavn" type="xs:string"/>
            <xs:element minOccurs="0" name="postnr" type="xs:string"/>
            <xs:element minOccurs="0" name="telefonnr" type="xs:string"/>
            <xs:element minOccurs="0" name="faxnr" type="xs:string"/>
            <xs:element minOccurs="0" name="mailadresse" type="xs:string"/>
            <xs:element minOccurs="0" name="www" type="xs:string"/>
            <xs:element minOccurs="0" name="hovedinstitutionsnr" type="xs:string"/>
            <xs:element minOccurs="0" name="kommunenr" type="xs:string"/>
            <xs:element minOccurs="0" name="kommune" type="xs:string"/>
            <xs:element minOccurs="0" name="admkommunenr" type="xs:string"/>
            <xs:element minOccurs="0" name="admkommune" type="xs:string"/>
            <xs:element minOccurs="0" name="regionsnr" type="xs:string"/>
            <xs:element minOccurs="0" name="region" type="xs:string"/>
            <xs:element minOccurs="0" name="enhedsart" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="Instbruger">
        <xs:sequence>
            <xs:element name="instnr" type="xs:string"/>
            <xs:element name="brugerid" type="xs:string"/>
            <xs:element name="navn" type="xs:string"/>
            <xs:choice>
                <xs:element name="elev" type="tns:Elev"/>
                <xs:element name="ansat" type="tns:Ansat"/>
                <xs:element name="ekstern" type="tns:Ekstern"/>
            </xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="gruppe" type="tns:Gruppe"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Elev">
        <xs:sequence>
            <xs:element name="rolle" type="uni:Elevrolle"/>
            <xs:element name="hovedgruppeid" type="xs:string"/>
            <xs:element name="hovedgruppenavn" type="xs:string"/>
            <xs:element name="elevtrin" type="uni:trin"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Ansat">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="rolle" type="uni:Ansatrolle"/>
            <xs:element minOccurs="0" name="initialer" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Ekstern">
        <xs:sequence>
            <xs:element name="rolle" type="uni:Eksternrolle"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Gruppe">
        <xs:sequence>
            <xs:element name="instnr" type="uni:Regnr"/>
            <xs:element name="gruppeid" type="xs:string"/>
            <xs:element name="gruppenavn" type="xs:string"/>
            <xs:element name="gruppetype" type="tns:Gruppetype"/>
            <xs:element minOccurs="0" name="gruppetrin" type="uni:trin">
                <xs:annotation>
                    <xs:documentation>Trin angives kun for grupper med typen Hovedgruppe.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="fradato" type="xs:date"/>
            <xs:element minOccurs="0" name="tildato" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Gruppetype">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Hovedgruppe"/>
            <xs:enumeration value="Årgang"/>
            <xs:enumeration value="Retning"/>
            <xs:enumeration value="Hold"/>
            <xs:enumeration value="SFO"/>
            <xs:enumeration value="Team"/>
            <xs:enumeration value="Institution"/>
            <xs:enumeration value="Andet"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Institutionshierarki">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="mainInstitution" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="department" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HentGrupper">
        <xs:sequence>
            <xs:element name="instnr" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HentBrugereIGruppe">
        <xs:sequence>
            <xs:element name="instnr" type="xs:string"/>
            <xs:element name="gruppeid" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HentInstitution">
        <xs:sequence>
            <xs:element name="instnr" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HentInstitutioner">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="instnr" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HentInstBruger">
        <xs:sequence>
            <xs:element minOccurs="0" name="instnr" type="xs:string"/>
            <xs:element name="brugerid" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HentInstitutionshierarki">
        <xs:sequence>
            <xs:element name="instnr" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>


    <!-- Return types -->

    <xs:complexType name="HentGrupperResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="gruppe" type="tns:Gruppe"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HentBrugereIGruppeResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="brugertilknytning" type="tns:Brugertilknytning"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HentInstitutionResponse">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="institution" type="tns:Institution"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HentInstitutionerResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="institution" type="tns:Institution"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HentInstBrugerResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="instBruger" type="tns:Instbruger"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HentInstitutionshierarkiResponse">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="institutionshierarki" type="tns:Institutionshierarki"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>