go/lib/soap/unilogin/wsiinst-v6/wsdl/test/ws.test.wsdl

<?xml version='1.0' encoding='UTF-8'?><definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:uni="https://brugerdatabasen.stil.dk/bpi/common/3" xmlns:tns="https://brugerdatabasen.stil.dk/bpi/wsiinst/6" xmlns="http://schemas.xmlsoap.org/wsdl/" name="WsiInst" targetNamespace="https://brugerdatabasen.stil.dk/bpi/wsiinst/6">
  <types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:uni="https://brugerdatabasen.stil.dk/bpi/common/3" xmlns:tns="https://brugerdatabasen.stil.dk/bpi/wsiinst/6" xmlns="http://schemas.xmlsoap.org/wsdl/">

  <xs:import namespace="https://brugerdatabasen.stil.dk/bpi/common/3" schemaLocation="common/common.xsd"/>

  <xs:import namespace="https://brugerdatabasen.stil.dk/bpi/wsiinst/6" schemaLocation="wsiinst-ws.xsd"/>

</xs:schema>
  </types>
  <message name="HentGrupperIn">
    <part element="tns:hentGrupper" name="parameters">
    </part>
  </message>
  <message name="HentInstitutionerOut">
    <part element="tns:hentInstitutionerResponse" name="return">
    </part>
  </message>
  <message name="HentGrupperOut">
    <part element="tns:hentGrupperResponse" name="return">
    </part>
  </message>
  <message name="HelloWorldWithCertificateOut">
    <part element="uni:helloWorldWithCertificateResponse" name="return">
    </part>
  </message>
  <message name="HentInstBrugerIn">
    <part element="tns:hentInstBruger" name="parameters">
    </part>
  </message>
  <message name="hentInstitutionshierarkiOut">
    <part element="tns:hentInstitutionshierarkiResponse" name="return">
    </part>
  </message>
  <message name="HelloWorldWithCertificateIn">
    <part element="uni:helloWorldWithCertificate" name="parameters">
    </part>
  </message>
  <message name="AuthentificationFault">
    <part element="uni:authentificationError" name="fault">
    </part>
  </message>
  <message name="HentInstitutionerIn">
    <part element="tns:hentInstitutioner" name="parameters">
    </part>
  </message>
  <message name="hentDataAftalerIn">
    <part element="uni:hentDataAftaler" name="parameters">
    </part>
  </message>
  <message name="HentBrugereIGruppeIn">
    <part element="tns:hentBrugereIGruppe" name="parameters">
    </part>
  </message>
  <message name="hentDataAftalerOut">
    <part element="uni:hentDataAftalerResponse" name="return">
    </part>
  </message>
  <message name="AuthHeader">
    <part element="uni:UdbydersystemId" name="UdbydersystemId">
    </part>
  </message>
  <message name="HentBrugereIGruppeOut">
    <part element="tns:hentBrugereIGruppeResponse" name="return">
    </part>
  </message>
  <message name="HentInstitutionOut">
    <part element="tns:hentInstitutionResponse" name="return">
    </part>
  </message>
  <message name="hentInstitutionshierarkiIn">
    <part element="tns:hentInstitutionshierarki" name="parameters">
    </part>
  </message>
  <message name="HentInstBrugerOut">
    <part element="tns:hentInstBrugerResponse" name="return">
    </part>
  </message>
  <message name="HentInstitutionIn">
    <part element="tns:hentInstitution" name="parameters">
    </part>
  </message>
  <portType name="WsiInstPortType">
    <operation name="helloWorldWithCertificate">
      <input message="tns:HelloWorldWithCertificateIn">
    </input>
      <output message="tns:HelloWorldWithCertificateOut">
    </output>
      <fault message="tns:AuthentificationFault" name="authentificationFault">
    </fault>
    </operation>
    <operation name="hentGrupper">
      <input message="tns:HentGrupperIn">
    </input>
      <output message="tns:HentGrupperOut">
    </output>
      <fault message="tns:AuthentificationFault" name="authentificationFault">
    </fault>
    </operation>
    <operation name="hentBrugereIGruppe">
      <input message="tns:HentBrugereIGruppeIn">
    </input>
      <output message="tns:HentBrugereIGruppeOut">
    </output>
      <fault message="tns:AuthentificationFault" name="authentificationFault">
    </fault>
    </operation>
    <operation name="hentInstitution">
      <input message="tns:HentInstitutionIn">
    </input>
      <output message="tns:HentInstitutionOut">
    </output>
      <fault message="tns:AuthentificationFault" name="authentificationFault">
    </fault>
    </operation>
    <operation name="hentInstitutioner">
      <input message="tns:HentInstitutionerIn">
    </input>
      <output message="tns:HentInstitutionerOut">
    </output>
      <fault message="tns:AuthentificationFault" name="authentificationFault">
    </fault>
    </operation>
    <operation name="hentInstBruger">
      <input message="tns:HentInstBrugerIn">
    </input>
      <output message="tns:HentInstBrugerOut">
    </output>
      <fault message="tns:AuthentificationFault" name="authentificationFault">
    </fault>
    </operation>
    <operation name="hentDataAftaler">
      <input message="tns:hentDataAftalerIn">
    </input>
      <output message="tns:hentDataAftalerOut">
    </output>
      <fault message="tns:AuthentificationFault" name="authentificationFault">
    </fault>
    </operation>
    <operation name="hentInstitutionshierarki">
      <input message="tns:hentInstitutionshierarkiIn">
    </input>
      <output message="tns:hentInstitutionshierarkiOut">
    </output>
      <fault message="tns:AuthentificationFault" name="authentificationFault">
    </fault>
    </operation>
  </portType>
  <binding name="WsiInstSoap" type="tns:WsiInstPortType">
    <wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="helloWorldWithCertificate">
      <wsoap12:operation soapAction="https://brugerdatabasen.stil.dk/bpi/wsiinst/6/helloWorldWithCertificate"/>
      <input>
        <wsoap12:body use="literal"/>
      </input>
      <output>
        <wsoap12:body use="literal"/>
      </output>
      <fault name="authentificationFault">
        <wsoap12:fault name="authentificationFault" use="literal"/>
      </fault>
    </operation>
    <operation name="hentGrupper">
      <wsoap12:operation soapAction="https://brugerdatabasen.stil.dk/bpi/wsiinst/6/hentGrupper"/>
      <input>
        <wsoap12:body use="literal"/>
      </input>
      <output>
        <wsoap12:body use="literal"/>
      </output>
      <fault name="authentificationFault">
        <wsoap12:fault name="authentificationFault" use="literal"/>
      </fault>
    </operation>
    <operation name="hentBrugereIGruppe">
      <wsoap12:operation soapAction="https://brugerdatabasen.stil.dk/bpi/wsiinst/6/hentBrugereIGruppe"/>
      <input>
        <wsoap12:body use="literal"/>
      </input>
      <output>
        <wsoap12:body use="literal"/>
      </output>
      <fault name="authentificationFault">
        <wsoap12:fault name="authentificationFault" use="literal"/>
      </fault>
    </operation>
    <operation name="hentInstitution">
      <wsoap12:operation soapAction="https://brugerdatabasen.stil.dk/bpi/wsiinst/6/hentInstitution"/>
      <input>
        <wsoap12:body use="literal"/>
      </input>
      <output>
        <wsoap12:body use="literal"/>
      </output>
      <fault name="authentificationFault">
        <wsoap12:fault name="authentificationFault" use="literal"/>
      </fault>
    </operation>
    <operation name="hentInstitutioner">
      <wsoap12:operation soapAction="https://brugerdatabasen.stil.dk/bpi/wsiinst/6/hentInstitutioner"/>
      <input>
        <wsoap12:body use="literal"/>
      </input>
      <output>
        <wsoap12:body use="literal"/>
      </output>
      <fault name="authentificationFault">
        <wsoap12:fault name="authentificationFault" use="literal"/>
      </fault>
    </operation>
    <operation name="hentInstBruger">
      <wsoap12:operation soapAction="https://brugerdatabasen.stil.dk/bpi/wsiinst/6/hentInstBruger"/>
      <input>
        <wsoap12:body use="literal"/>
      </input>
      <output>
        <wsoap12:body use="literal"/>
      </output>
      <fault name="authentificationFault">
        <wsoap12:fault name="authentificationFault" use="literal"/>
      </fault>
    </operation>
    <operation name="hentDataAftaler">
      <wsoap12:operation soapAction="https://brugerdatabasen.stil.dk/bpi/wsiinst/6/hentDataAftaler"/>
      <input>
        <wsoap12:body use="literal"/>
      </input>
      <output>
        <wsoap12:body use="literal"/>
      </output>
      <fault name="authentificationFault">
        <wsoap12:fault name="authentificationFault" use="literal"/>
      </fault>
    </operation>
    <operation name="hentInstitutionshierarki">
      <wsoap12:operation soapAction="https://brugerdatabasen.stil.dk/bpi/wsiinst/6/hentInstitutionshierarki"/>
      <input>
        <wsoap12:body use="literal"/>
      </input>
      <output>
        <wsoap12:body use="literal"/>
      </output>
      <fault name="authentificationFault">
        <wsoap12:fault name="authentificationFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="WsiInst">
    <port binding="tns:WsiInstSoap" name="WsiInstPort">
      <wsoap12:address location="https://brugerdatabasen.stil.dk/bpi/wsiinst/6"/>
    </port>
  </service>
</definitions>
